body {
  margin: 0;
  font-family: "Lora", serif !important;
  /* 여러 css가 겹쳤을 때, 마지막에 적용하기 위한 역할 (!important) */
}

/* navbar */
.nav {
  /* 스크롤을 내려도 navbar 상단에 고정 */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* 겹치는 요소들의 순서 결정 */
  z-index: 1;
}

.navbar {
  list-style: none;
  flex-direction: row;
  display: flex;
  background-color: #f8f2f2bb;
}

.nav-item {
  /* 상하좌우 여백 */
  font-size: 1em;
  padding: 25px;
}

.nav-item a {
  /* nav-item 클래스 아래의 a 요소 */
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  text-decoration: none;
  color: #ee7081;
}

.logo {
  height: 50px;
  margin: 10px 50px 10px 20px; /* 위, 오른쪽, 아래, 왼쪽 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  /* 일정한 사이즈 span(.logo) 안에 이미지 잘리자않고 넣기 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-icons {
  list-style: none;
  right: 0;
  position: absolute;
  padding-top: 25px;
  padding-right: 20px;
}

.nav-icons li {
  cursor: pointer;
  font-size: 1.3em;
  padding-right: 25px;
  float: left; /* 가로(수평)로 배열 */
}

.nav-icons li a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.menu-dropdown {
  display: none;
}

/* 미디어 쿼리 -> 반응형 웹처리 */
@media screen and (max-width: 900px) {
  .nav-item {
    display: none;
  }

  .menu-dropdown {
    display: inline;
    margin-right: -10px;
    margin-top: -5px;
  }
}

/* footer */

@media screen and (max-width: 1200px) {
  /* 창 크기가 1200px보다 작아지면 아래의 css 실행 */
  .footer-box-left {
    display: none;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
}

.footer-top {
  height: 85%;
  color: #ee7081;
  background-color: #f8f2f2;
}

.footer-box-left {
  text-align: center;
}

.footer-box-left img {
  width: 500px;
  margin-top: 70px;
  margin-left: 100px;
}

.footer-box-right {
  padding-top: 130px;
  list-style-type: none;
  text-align: center;
}

.footer-box-right div {
  color: black;
  padding-bottom: 30px;
  font-size: 1.4em;
}

.footer-box-right a {
  text-decoration: none;
  font-size: 1.2em;
  color: #ee7081;
  cursor: pointer;
  padding-right: 30px;
}

.footer-box-right a:hover {
  text-decoration: none;
  color: #e72b44;
}

.footer-bottom {
  height: 15%;
  background-color: #222222;
  text-align: center;
  color: #f8f2f2;
  padding-top: 23px;
}

/* contents */

.main-img {
  width: 100%;
  height: 500px;
  background: url(images/main.jpg) no-repeat 50% 50% / cover;
  /* 반복되지 않기 위해 no-repeat, 포지션은 50에 50, 사이즈는 cover => 적절하게 이미지 넣기 */
  text-align: center;
  padding-top: 200px; /* 글자 내리기 */
  font-family: "Parisienne", cursive !important;
}

.main-img b {
  font-size: 3em;
  font-family: "Sacramento", cursive !important;
}

.main-img p {
  font-family: "Architects Daughter", cursive !important;
  margin-top: 10px;
  font-size: 1.5em;
}

.first-box {
  height: 600px;
  background-color: #f8f2f2;
}

.second-box {
  height: 600px;
}

#contents {
  min-height: 800px;
  margin-top: 70px;
  /* 내부 요소 가운데 정렬 */
  text-align: center;
}

.page-title {
  font-size: 3em;
  padding: 30px 150px;
  text-align: left;
}

/* about.html */
.box-1 {
  padding: 0px 150px 20px 150px;
  font-size: 1.2em;
  text-align: left;
}

.profile-img {
  /* 일정한 크기의 div 안에 이미지 잘리면서 꽉차게 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-1-title {
  color: #ee7081;
  font-size: 3.5em;
  margin-left: -80px;
}

.box-2 {
  background-color: #f4f1ef;
  padding: 50px 150px;
  font-size: 1.2em;
}

.box-2-subtitle {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.box-3 {
  padding: 50px 150px;
  font-size: 1.2em;
}

.box-3-subtitle {
  font-size: 1.5em;
  padding-bottom: 30px;
}

/* faq.html */
.faq-box {
  padding: 0px 150px 20px 150px;
  text-align: left;
}

/* contact.html */
.contact-box {
  padding: 20px 150px;
  font-size: 1.2em;
  text-align: left;
}

.heart-icon:hover {
  text-decoration: none;
  color: #ee7081;
}

.contact-submit-btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 0.9em;
  padding: 10px 20px;
  float: right;
}

.contact-submit-btn:hover {
  background-color: #ee7081;
  color: white;
  border: none;
  font-size: 0.9em;
  padding: 10px 20px;
}
